<!DOCTYPE html>
<html>

<head>
    <title>
        Lecturer
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <style>
        
        h1 {
            text-align: center;
            font-family:Tahoma;
            color:white;
            background-color:cadetblue;


        }
        h2 , p {
            font-family:Verdana;
            font-size: medium;
            color:white;
        }
    
        form {
            width: 300px;
        }
    
        i {
            font-weight: bold;
            background-color: aquamarine;
            color:brown;
        }
        .sc {
            width: 500px;
        }
    </style>
    <script>
        function clearcookie(){
         let token=document.cookie;
         token=token+";"+`expires=${new Date(0).toUTCString()}`
         console.log(token)
         document.cookie=token;
         window.location.href="/";
        }

 
 
/*setInterval(function(){ 

    
  let date = new Date(); 
  let hh = date.getHours();
  let mm = date.getMinutes();
  let ss = date.getSeconds();
  let session = "AM";

  if(hh == 0){
      hh = 12;
  }
  if(hh > 12){
      hh = hh - 12;
      session = "PM";
   }

   hh = (hh < 10) ? "0" + hh : hh;
   mm = (mm < 10) ? "0" + mm : mm;
   ss = (ss < 10) ? "0" + ss : ss;
    
   let time = hh + ":" + mm + ":" + ss + " " + session;

  document.getElementById("clock").innerHTML= time;
  //let timet=document.getElementsByClassName("time")[0].innerHTML;
  //let timet=document.getElementsByTagName("p")[0].innerHTML;

  for(let i=0;i<document.getElementsByTagName("p").length;i++){
       
    console.log("time of class"+document.getElementsByTagName("p")[i].innerHTML);
  let timestr=time.split(':')
  console.log("actual time" +String(timestr[0]));
  
   if(Number(document.getElementsByTagName("p")[i].innerHTML)===Number(timestr[0])){
 
        document.querySelectorAll("section")[i].style.display="block";

    
   }
   else if(Number(document.getElementsByTagName("p")[i].innerHTML)!==Number(timestr[0])){

 
      document.querySelectorAll("section")[i].style.display="none";
       

   }
  }

 
   
    }, 1000);

    */




    </script>
    <header>
        <center>
            <h2 id="clock" style="font-family: Tahoma;color:tomato;font-weight: bold;"></h2>
        </center>
        
          
 <button onclick="clearcookie();">Logout</button>
 <p id="indicator" style="color:brown;">{{done}}</p>      
    </header>
    <h1>Lecturer</h1>
    <div class="row">
        <div class="col">
            <form action="/delete" enctype="application/x-www-form-urlencoded" method="post">
                <input name="student" placeholder="id of student" required>
                <button type="submit" class="btn btn-danger">Delete attendance record</button> 
        </form>
        </div>
        <div class="col">
            <form action="/report" enctype="application/x-www-form-urlencoded" method="post">
                <input type="text" name="date" placeholder="type " required>
                <button class="btn btn-primary">get report</button>
            </form>
            
        </div>
        <div class="col">
            <form action="/getattendance" enctype="application/x-www-form-urlencoded" method="post">
                <input type="text" placeholder="id of student" name="id" required>
                <input type="text" placeholder="date" name="date" required>
                <input type="text" placeholder="section" name="section" required>
                <button class="btn btn-success">get attendance</button>
            </form>
        </div>

    </div>




    <main>
        <center>
       <div class="container-fluid">

    
      {%for i in classes%}
<section>
   
          
          <mark class="badge bg-warning">{{i.class}}</mark><p class="time">{{i.timing}}</p>      
        

        
        {% for id in students %}
        
        <table>
        <thead>
            <tr>
                <th class="">Mark</th>
                <th class="">Update</th>
            </tr>

        </thead>
        <tbody>
            <tr>
        <td>
                    
      
      <form action="/attendance" method="post" enctype="application/x-www-form-urlencoded" class="container-fluid"> 
    

            <input class="form-control" type="hidden" name="class" value="{{i.class}}">
            <input  class="form-control" type="hidden" name="student" value="{{id}}" >
            <input  class="form-control" type="hidden" name="section" value="{{i.section}}" >
            
            <select name="attendance" class="form-control">
                <option>mark attendance for <i>{{id}}</i></option>
                <option value="absent">Absent</option>
                <option value="present">Present</option>
            </select>
            <button type="submit" class="btn btn-primary p-1 my-1">
                submit
            </button>
        </form>

        </td>
                <td>

                    <form  class="sc form-control form-control-sm" action="/update" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="student" value="{{id}}">
                        <select  class="form-control" name="updatedvalue">
                         <option>Select the updated value</option>
                         <option value="absent">Absent</option>
                         <option value="present">Present</option>
                        </select>
                        <input type="hidden" name="student">
                        <button type="submit" class="btn btn-warning p-1 my-1">Update</button>
                    </form> 
                </td>
            </tr>
        </tbody>
        </table>
        
      
        {%endfor%}
    
</section>



      {%endfor%}

</div>
</center>

<div id="div1">
<div class="container">
            
 </div>
</div>    

</main>

</body>
</html>